{% load static %}


<!-- Header -->
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" ><h2>Stand Blog<em>.</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if request.resolver_match.url_name == 'main' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'home:main' %}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %} "
                           href="{% url 'account:about' %}">About Us</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'post_list' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'blog:post_list' %}">Blog Entries</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'contact' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'account:contact' %}">Contact Us</a>
                    </li>

                    {% if request.user.is_authenticated %}
                        <li class="nav-item {% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
                            <div class="d-flex">
                                <a class="nav-link" href="{% url 'account:profile' %}">
                            {% if request.user.image %}
                                <img style="width: 30px;height: 30px;border: orange 1px solid;border-radius: 50%;" src="{{ request.user.image.url }}" alt="user image">
                                {% else %}
                                <img style="width: 30px;height: 30px;border: orange 1px solid;border-radius: 50%;" src="{% static 'images/images-icon.png' %}" alt="default image">
                                {% endif %}
                                {{ request.user.first_name }}
                            </a>
                            <a class="nav-link" href="{% url 'account:logout' %}"><span class="badge badge-danger">Logout</span></a>
                            </div>
                        
                        </li>
                    {% else %}
                        <div class="d-flex">
                        <a class="nav-link" href="{% url 'account:login' %}">Sign In</a>
                            <span class="mt-2">/</span>
                         <a class="nav-link" href="{% url 'account:signup' %}">Sign Up</a>
                        </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>